html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body{
    font-size: 20px;
    line-height: 1.4;
    background-color: #ccd5ae;
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}
h1, h2, h3{
    line-height: 1.2;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
h1{
    font-size: 48px;
    text-align: center;
}
h2{
    font-size: 32px;
    margin-top: 70px;
}
h3{
    font-size: 24px;
    color: #d4a373;
    margin-top: 48px;
}
.autor{
    text-align: center;
    color: #d4a373;
}
.perex{
    color:#808080;
    font-size: 24px;
    font-style: italic;
}
article{
    background-color: #ffffff;
    width: 900px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 50px;
}

.uvod img{
    width: 300px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.CeskyKrumlov img{
    width: 250px;
    border-radius: 8px;
    float: right;
    margin: 0 0 20px 20px;
}
.HlubokaNadVltavou img{
    width: 320px;
    border-radius: 8px;
    float: left;
    margin: 20px 20px 20px 0;
}
.nature img{
    width: 100%;
    margin: 0; /*otázka:
    když je v zadání aby poslední fotka měla okraj 20px nahoře a dole, můžu nechat margin na 0 když vím že <p> má defaultní odsaení 20px, nebo musím "zrušit" odsazení paragrafu a nastavit u obrázku margin 20px*/
}
